html {
  --base-font-size: 10px;
  --base-line-height: calc(10px * 1.5);
  --base-spacing: calc(10px * 2);
  --color-gray-light: #ddd;
  --color-red: #f00;
  --color-green: #0f0;
  --color-blue: #00f;
  --font-stack-normal: Input Mono Narrow;
  --font-stack-condensed: Input Mono Compressed;
}

* {
  box-sizing: border-box;
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-family: var(--font-stack-normal);
}

svg *,
#data {
  font-family: var(--font-stack-condensed);
}

.panes {
}

.pane {
  padding: var(--base-spacing);
}

.pane-left {
  width: 400px;
  background: rgba(245, 245, 245, 0.98);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  transform: translateX(-399px);
  transition: all 0.25s ease-in-out 0s;
  box-shadow: none;
}

.pane-left:hover,
.pane-left.is-initial {
  transform: translateX(0);
  box-shadow: rgba(0, 0, 0, 0.5) 5px 0 30px -10px;
}

.pane-right {
}

.config-group {
  margin-bottom: var(--base-line-height);
}

.config h1 {
  margin: 0;
  font-size: 14px;
}

.config label {
  display: block;
  margin-bottom: calc(var(--base-line-height) / 4);
}

.config input,
.config textarea,
.config select,
.config button {
  display: block;
  width: 100%;
  margin: 0;
  outline: none;
}

.config input,
.config textarea {
  -webkit-appearance: none;
  padding: 0 calc(var(--base-spacing) / 4);
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: calc(var(--base-line-height) + 2px);
}

.config textarea {
  height: calc(var(--base-line-height) * 5 + 2px);
}

.config input:focus,
.config textarea:focus {
  border-color: var(--color-blue);
}

.results {
  border-collapse: collapse;
  width: 100%;
}

.results td,
.results th {
  border: 1px solid var(--color-gray-light);
  padding: 0 calc(var(--base-spacing) / 2);
  line-height: var(--base-line-height);
  height: var(--base-line-height);
}

.results td {
  text-align: right;
}

.artboard {
  height: 685px;
  margin-bottom: var(--base-spacing);
}

.artboard svg {
  overflow: visible;
}

.artboard .axis .domain {
  stroke: #000;
}

.artboard .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}

.artboard .tick text {
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 16px #fff;
}

.artboard .line {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  opacity: 0.75;
}

.artboard .line-analysis {
  stroke-width: 3px;
}

.artboard .line-0 {
  stroke: var(--color-blue);
}

.artboard .line-1 {
  stroke: var(--color-red);
}

.artboard .line-2 {
  stroke: var(--color-green);
}
